@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

:root {
  --swiper-theme-color: gray;
}

/* 客製化設定 */
// .banner{
//   background-image: url('../../images/hero-1.png');
//   /* 958px為建議 */
//   height: 100vh;
//   background-position: center center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

/* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 8px;
}

.img-frame {
  width: 80px;
  height: 80px;
  /*  調整人物頭像位置 */
  top: -45px;
}
.icon-star {
  width: 16px;
  height: 16px;
}

.navbar-brand img {
  width: 150px;
}

.intro-img {
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  filter: brightness(0.7);
  border-radius: 10px;
}

.intro-img:hover {
  filter: brightness(1);
}

.card {
  border-radius: 10px;
}

.card .card-img-top {
  border-radius: 10px;
}

.card img {
  filter: brightness(1);
}

.card img:hover {
  filter: brightness(0.8);
}

.card .card-link-text {
  color: #603f2c;
}

.card .card-link-text:hover {
  color: #000;
}

.aboutBanner {
  margin-top: 200px;
  height: 500px;
  background-color: #544c4a;
  position: relative;
}

.aboutSwiperImg {
  margin-right: 15px;
  margin-bottom: 100px;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  right: 100px;
  bottom: 0px;
}

@media (max-width: 992px) {
  .aboutSwiperImg {
    display: none;
  }
}
