@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

:root{
  --swiper-theme-color: gray;
}

/* 客製化設定 */
// .banner{
//   background-image: url('../../images/hero-1.png');
//   /* 958px為建議 */
//   height: 100vh;
//   background-position: center center;
//   background-size: cover;  
//   background-repeat: no-repeat;
// }

/* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 8px;
}

.img-frame {
  width: 80px;
  height: 80px;
  /*  調整人物頭像位置 */
  top: -50px;
}
.icon-star {
  width: 16px;
  height: 16px;
}

.navbar-brand img{
  width: 150px;
}

.intro-img{

  background-position: center center;
  background-size: cover;  
  background-repeat: no-repeat;
  max-width: 100%;
  height: 300px;
  display: block;
}